<form method="post" action="{{ path('app_typeactivite_delete', {'id': typeactivite.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ typeactivite.id) }}">
    <button class="btn">Delete</button>
</form>
