<div class="sidebar">
    <div class="">
        <img src="{{ asset('images/logo2.png') }}" alt="Logo" class="logo">
    </div>

    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_event_index') }}">
                <i class="fas fa-home"></i> Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_activiteevent_index') }}">
                <i class="fas fa-anchor"></i> Activities
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_typeactivite_index') }}">
                <i class="fas fa-trophy"></i> Salles
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ">
                <i class="fas fa-bell"></i> Equipement
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ">
                <i class="fas fa-calendar-alt"></i> Evennements
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <i class="fas fa-flag-checkered"></i> Competition
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" >
                <i class="fas fa-cog"></i> Preferences
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <i class="fas fa-bell"></i> Notifications
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" >
                <i class="fas fa-paint-brush"></i> Theme
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" >
                <i class="fas fa-globe"></i> Language
            </a>
        </li>
    </ul>
</div>
