{% block body %}
<div class="container centered-form">
    <div class="form-card"  >
        <h2 class="text-center mb-4">Ajouter un Programme</h2>

      
      {{ include('programme/_form.html.twig', {'button_label': 'Ajout'}) }}

      <div class="text-center mt-3">
          <a href="{{ path('app_programme_index') }}" class="btn btn-secondary">Back to list</a>
      </div>
  </div>
</div>

{% endblock %}